<div class="body container">
  <!-- This is Main Body -->
  <!-- <app-databinding></app-databinding> -->
  <!-- <app-directives></app-directives> -->
  <!-- <app-directive-assignment></app-directive-assignment> -->
  <!-- <app-products></app-products> -->
  <!-- <app-my-modal>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmRlwbWH3kPMJ32C3qDf4HcI_f8gBfUrb6ww&s" alt="">
  </app-my-modal> -->
  <!-- <app-users></app-users> -->
  <!-- <app-product-list></app-product-list> -->
  <!-- <app-pipes-demo></app-pipes-demo> -->
  <!-- <app-parent-demo></app-parent-demo> -->
   <app-demo1></app-demo1>
   <app-demo2></app-demo2>
</div>
